@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lora);

  --color-light: #f6f7f7;
  --color-grayish: #9aa7a1;
  --color-mid: #818181;
  --color-dark: #5f6080;
  --color-accent: #dffff4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lora), serif;
}

.main-container {
  @apply flex flex-col items-center justify-center 
         w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
