@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);

  --color-light: #f6f7f7;
  --color-grayish: #9aa7a1;
  --color-mid: #818181;
  --color-dark: #5f6080;
  --color-accent: #dffff4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
  @apply w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.main-container {
  @apply flex flex-col items-center justify-center 
         w-full;
}

/* Navbar */
.navbar {
  @apply flex items-center justify-between py-6 sm:py-8 gap-4 flex-wrap w-full;
}

.nav-links {
  @apply hidden md:flex flex-wrap items-center justify-center gap-3 sm:gap-6 
         font-medium text-base text-foreground;
}

.nav-link {
  @apply cursor-pointer transition-colors hover:text-[#5F6080];
}

.cta-button {
  @apply hidden md:flex items-center justify-center space-x-3 px-3 py-2.5 rounded 
         bg-gray-400/10 dark:bg-gray-100/20
         cursor-pointer transition-colors;
}

.cta-button:hover {
  @apply bg-[#DFFFF4] text-black;
}

.cta-icon {
  @apply group-hover:rotate-45 transform transition-transform duration-200;
}

.mobile-menu-overlay {
  @apply fixed inset-0 bg-black/50 z-40 transition-opacity;
}

.mobile-menu {
  @apply fixed top-0 right-0 h-full w-64 bg-[#F6F7F7] dark:bg-[#818181]
         z-50 shadow-lg flex flex-col p-6 space-y-6 transform transition-transform duration-300;
}
